@forward './_components/';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');


// Variables
:root {
    --color-base-primary: hsl(0, 0%, 98%);
    --color-base-secondary: hsl(0, 0%, 100%);
    --color-default-primary: hsl(0, 0%, 0%);
    --color-default-secondary: hsl(233, 11%, 84%);
    --color-default-tertiary: hsl(236, 9%, 61%);
    --color-default-quaternary: hsl(233, 11%, 84%);
    --color-hover-primary: hsl(220, 98%, 61%);
    --color-hover-secondary: hsl(0, 0%, 0%);
    --color-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  
    --bg-desktop: url('../img/bg-desktop-light.jpg');
    --bg-mobile: url('../img/bg-mobile-light.jpg');
}

:root[data-theme="dark"] {
    --color-base-primary: hsl(235, 21%, 11%); 
    --color-base-secondary: hsl(235, 24%, 19%);   
    --color-default-primary: hsl(234, 39%, 85%); 
    --color-default-secondary: hsl(233, 14%, 35%);
    --color-default-tertiary: hsl(233, 14%, 35%);   
    --color-default-quaternary: hsl(237, 14%, 26%);
    --color-hover-secondary: hsl(236, 33%, 92%);

    --bg-desktop: url('../img/bg-desktop-dark.jpg');
    --bg-mobile: url('../img/bg-mobile-dark.jpg');
}

// Reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global
body {
    background-color: var(--color-base-primary);
    color: var(--color-default-tertiary);
    font-family: 'Josefin Sans', sans-serif;
    font-size: .85rem;
    position: relative;

    &::before {
        content: "";
        inset: 0;
        z-index: -1;
        background-image: var(--bg-mobile);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        position: absolute;
    }

    main {
        max-width: 590px;
        padding-inline: 1.5rem;
        margin-inline: auto;
    }
}


@media (min-width: 576px) {
    // Global
    body {
        font-size: 1rem;

        &::before {
            background-image: var(--bg-desktop);
            background-position: center;
            height: 300px;
        }
    }
}